logfile
log.txt
*.swp
*.o
src/EvoCompX
test/*/num?.dat
test/*/zbar?.dat
test/*/abar?.dat
test/*/time.dat
test/*/*final.dat
test/*/params.in
test/temp*
input/alpha.in
input/num.in
input/abar.in
input/*.dat
input/results.pdf
test/*/results.pdf
